name: Verify

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  verify:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Minikube Installation
      id: minikube
      uses: sarroutbi/setup-minikube@v0.0.3

    - name: Status
      run: minikube status

    - name: Build
      run: make

    - name: Test
      run: make test

    - name: Cluster Test
      run: CLUSTER_TANG_OPERATOR_TEST=1 make test

    - name: Deploy and Scorecard
      run: sh .github/workflows/scripts/retrieve_and_run_operator_sdk.sh "v1.12.0" "10m" "quay.io/sec-eng-special/tang-operator-bundle" "${GITHUB_HEAD_REF}"
